.block {
	height: 200px;
}


.background--beige {
	background-color: #F7F1DA;//rgba($beige, 0.5);
	//background-image: url("../../assets/media/main_bg.png");
}

.background--blue {
	background-image: url("../../assets/media/header_bg.png");
}