p {
	line-height: 1.5;

	&.body_text {
		margin-top: $baseline;
		margin-bottom: 0px;
		font-family: $body_font_family;
		font-weight: $body_font_weight;
		font-size: $body_font_size;
		color: $brown;
	}

	&.filmmakers__additional {

		font-size:27px;
		color: $brown;
		font-family: $header_font_family;
		font-weight: $header_font_weight;
	}
}