.footer__text__container {
	margin-top: $baseline*2;
	margin-bottom: $baseline*2;
}

.footer__text {
		margin-top: 0px;
		margin-bottom: 0px;
		line-height: 1.5;
		font-family: $footer_font_family;
		font-size: 18px;
		color: $yellow;
		padding-left: 0px;
		padding-right: 0px;

		> a {
			color: $beige;

			&:hover {
				text-decoration: none;
				color: $brown;
			}
		}

		&.foot__text--right {
			text-align: right;
		}
}