// Headings

@mixin fontSizeColour($sz, $fontColour){
	font-size: $sz;
	color: $fontColour;
}

h1,
h2,
h3,
h4,
h5 {
		font-family: $header_font_family;
		font-weight: $header_font_weight;
}

 
h1 {

	@include fontSizeColour(54px, $choc_brown);

}

h2 {
	@include fontSizeColour(45px, $choc_brown);

}

h3 {

	@include fontSizeColour(36px, $choc_brown);


	&.nav {
		color: $yellow;
	}
}

h4 {
	@include fontSizeColour(27px, $choc_brown);
}

.countdown{
	font-family: $count_font_family;
	color: $yellow;
	text-align: center;

	&.countdown__container{		
		@include addBorder($borderColor: $beige, $left: true);
		height: $logo_height;
	}

	&.countdown__title {
		font-size: 45px;
		font-weight: $count_font_weight;
		margin-top: $gridheight * 4;
		margin-bottom: $gridheight * 4;	
	}

	&.countdown__counter {
		font-size: 36px;
		font-weight: $count_font_weight;
		margin-top:0px;
		margin-bottom:0px;	
	}
}
