// @-webkit-keyframes shrink {
// 	from {
		
// 	}
// 	to {

// 	}
// }

.header__background{
	position: relative;
	z-index: 3;
	padding-top: $header_top;
	padding-bottom: $header_bottom;
}

.header__content {
	padding-bottom: $section_vertical_padding;
	@include addBorder($beige, $bottom: true);
}