$header_height: $logo_height + $section_vertical_padding;

.header__content {
	height: $header_height; 
	@include addBorder($beige, $bottom: true);
}

.header__ceiling {
	height: 256px;
}

.header__floor {	
	height: 46px;
}