// Variables for main container heights
$bg_top: $gridheight * 18;
$container_height: 782px;
$bg_bottom: ($container_height - $bg_top) + $section_vertical_padding;

.home_main__bg--top {
	height: $bg_top;
}

.home_main__text__border{
	@include addBorder($choc_brown, $left: true);
}

.home_main__bg--bottom {
	height: $bg_bottom;
}