.home_main {
	position: relative;
	z-index: 3;
	padding-bottom: $section_vertical_padding;
}

video::-webkit-media-controls-panel {
	background-color: rgba($brown, 0.7);
}

video::-webkit-media-controls-enclosure {
	max-width:inherit;
	// visibility:hidden;
}

// video::-webkit-media-controls-enclosure:hover {
// 	visibility:hidden;
// }

video::-webkit-media-controls-current-time-display {
	font-family: $body_font_family;
}

video::-webkit-media-controls-play-button {
	// Remove 
	background-image: url("../../assets/media/icon_19281.svg");
	background-size: 100%;
	-webkit-appearance: none;
}

.home_main__video {
	position: relative;
	z-index: 10;
	margin-top: -($header_bottom * 0.75);
}

.home_main__text__border{
	padding-left: $section_vertical_padding;
	padding-right: $section_vertical_padding;
	@include addBorder($choc_brown, $left: true);
}