.home_main {
	position: relative;
	z-index: 3;
	padding-bottom: $section_vertical_padding;
}

video::-webkit-media-controls-panel {
	background-color: rgba($brown, 0.4);
}

video::-webkit-media-controls-enclosure {
	max-width:inherit;
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display
 {
	font-family: $header_font_family;
	font-weight: $header_font_weight;
}

.home_main__video {
	position: relative;
	z-index: 10;
	margin-top: -($header_bottom * 0.75);
}

.home_main__text__border{
	padding-left: $section_vertical_padding;
	padding-right: $section_vertical_padding;
	@include addBorder($choc_brown, $left: true);
}