
.content {
	margin-top: 6.25%;
	height: 75%;

	&.content--left {
		border-top: none;
		border-left: none;
	}

	&.content--right {
		border-top: none;
		border-left: none;
		border-right: none;
	}
}

.separator{

	border: 3px solid black;

	&.separator__main{
		border-color: $choc_brown;
	}

	&.separator__header{
		border-color: $beige;
	}
}