// Colours
$blue: #90a4a4;
$yellow: #ffde38;
$beige: #f0e5b7;
$brown: #5b4937;
$choc_brown: #42110a;

// Array of colours
$movieColours: blue $blue, yellow $yellow, beige $beige, brown $brown, choc_brown $choc_brown;

// Font families and settings
$header_font_family: 'Source Code Pro', 'Lucida Grande', sans-serif;
$header_font_weight: 200;

$count_font_family: 'Source Code Pro', 'Lucida Grande', sans-serif;
$count_font_weight: 300;

$footer_font_family: 'Raleway', sans-serif;

$nav_font_size: 36px;

$body_font_family: 'Raleway', sans-serif;
$body_font_weight: normal;
$body_font_size: 18px;

// Logo
$logo_height: 132px;

//Grid Dimensions
$gridheight: 4px;
$baseline: 27px;
$section_vertical_padding: $gridheight * 12; // Provides padding distance between sections;

//Header background settings
$header_top: 256px;
$header_bottom: $gridheight * 40 ;

// Bootstrap overriden variables

$input-border-focus: $blue;
$btn-default-color: $blue;
$btn-default-border: $blue;
$border:blue;