.block {
	height: 200px;
}


.background--main {
	background-image: url("../../assets/images/main_bg.png");
}

.background--header {
	background-image: url("../../assets/images/header_bg.png");
	background-size: 100%;
}