// Headings

@mixin fontSizeColour($sz, $fontColour){
	font-size: $sz;
	color: $fontColour;
}

h1,
h2,
h3,
h4,
h5 {

	&.heading{
		font-family: $header_font_family;
		font-weight: $header_font_weight;
	}
}

 
h1 {
	&.heading {
		@include fontSizeColour(54px, $yellow);
	}
}

h2 {
	&.heading {
		@include fontSizeColour(45px, $yellow);
	}
}

h3 {

	&.heading {
		@include fontSizeColour(36px, $brown);
	}


	&.nav {
		color: $yellow;
	}
}

h4 {
	&.heading {
		@include fontSizeColour(27px, $beige);
	}

}

.countdown{
	font-family: $count_font_family;
	color: $yellow;

	&.countdown__title {
		font-weight: bold;
	}

	&.countdown__counter {
		font-size: 36px;
	}
}
