$header_height: $logo_height + 50px;
.header__content {
	height: $header_height; 
	@include addBorder($borderColor: $beige, $bottom: true);
}

.header__ceiling {
	height: 256px;
}

.header__floor {	
	height: 46px;
}