// Colours
$blue: #90a4a4;
$yellow: #f5c93f;
$beige: #f0e5b7;
$brown: #5b4937;
$chocBrown: #42110a;

// Array of colours
$movieColours: blue $blue, yellow $yellow, beige $beige, brown $brown, chocBrown $chocBrown;

// Font families
$header_font_family: 'Source Code Pro', 'Lucida Grande', sans-serif;
$count_font_family: "Lucida Grande", sans-serif;
$header_font_weight: 300;
$nav_font_size: 36px;

$body_font_family: 'Raleway', sans-serif;
$body_font_weight: normal;
$body_font_size: 18px;

//Grid Dimensions
$gridwidth: 7px;
$baseline: 28px;

$brand-primary: #7B8489;

// Nav Pill Variables



$nav-pills-active-link-hover-color: $yellow;
$nav-pills-active-link-hover-bg: transparent; 

// Unused Vars
//$nav-pills-border-radius;

// Stacked pills

